* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: grey;
}
.container {
  background-color: #fff;
  margin: 0px 30px 20px 30px;
}
/* styling for top section */
.top-sec {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.top-sec .top-logo {
  width: 50%;
}
.top-sec .top-logo img {
  width: 100%;
}
/* styling for top-right section */
.top-sec .top-right {
  width: 50%;
  padding-left: 285px;
  padding-right: 68px;
}
.top-right h2 {
  font-size: 31px;
  color: #791313;
  font-weight: bold;
}
.top-right h3 {
  font-size: 1.7rem;
  font-weight: normal;
}
.top-right hr {
  border: 2px solid #0000009e;
}
.top-right h1 {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

/* styling for navbar section */
.nav-bar {
  background-color: #791313;
}
.nav-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
li {
  float: inline-end;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 30px;
  text-decoration: none;
  font-size: larger;
}

li a:hover:not(.active) {
  background-color: gray;
}
/* styling for 2nd section */
.second-sec {
  display: flex;
  width: 100%;
  justify-content: center;
}
/* styling for top left banner of 2nd section */
.second-sec .top-banner {
  margin: 20px 20px 30px 30px;
  width: 50%;
}

.second-sec .top-banner img {
  width: 100%;
}

.second-sec .right-form {
  background-image: url(./img/form_bg.jpg);
  background-repeat: no-repeat;
  width: 50%;
  background-size: 100%;
  margin: 20px 30px 30px 0px;
}

/* styling for form section */

.form-content h1 {
  background-color: #791313;
  width: fit-content;
  padding: 12px;
  color: white;
  margin-bottom: 48px;
  padding-right: 45px;
  font-size: 33px;
}
.form-content .form-text {
  display: flex;
}
.form-text span {
  font-weight: bold;
  color: blue;
}
.form-content h2 {
  margin-top: 20px;
  padding-left: 100px;
  font-size: 35px;
}
.form-content p {
  font-family: sans-serif;
  font-size: 24px;
  padding-left: 40px;
  opacity: 80%;
}
.form-content span {
  font-weight: bold;
}

.form-container {
  display: flex;
  justify-content: row;
  width: 100%;
  align-items: center;
}
.form1 {
  width: 60%;
}
input[type="text"] {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  resize: vertical;
  margin-left: 32px;
}
label {
  padding: 12px 12px 12px 35px;
  display: inline-block;
}
.column {
  float: left;
  width: 15%;
  margin-top: 6px;
}

.field {
  float: left;
  width: 85%;
  margin-top: 6px;
  font-family: sans-serif;
}

#big-box {
  padding: 30px;
  margin-left: 35px;
  margin-top: 10px;
  width: 91%;
  padding-right: 35px;
}
::placeholder {
  color: #791313;
}

.form-logo {
  width: 35%;
}
.form-logo img {
  width: 100%;
  transform: rotate(13deg);
}
.last-content {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.last-content .txt {
  font-style: italic;
  padding-top: 18px;
  opacity: 40%;
}
/* styling for button of form */

.form-btn button {
  background-color: #bf1d1d;
  color: white;
  padding: 12px 45px 12px 45px;
  margin-top: 5px;
  background-image: url(./img/bullet_white.gif);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: center;
}

/* styling for middle section */

.middle-sec {
  display: flex;
  justify-content: center;
  margin: 10px 20px 50px 20px;
}
.box1,
.box2,
.box3 {
  width: 33%;
}
/*  box 1 styling  */
.middle-sec .box1 {
  padding: 20px 20px 20px 40px;
}
.box1 .inner-box1 {
  display: flex;
  justify-content: space-between;
}
.box1 .inner-box1 .txt {
  width: 60%;
}
.box1 .inner-box1 .logo {
  width: 40%;
}
.box1 .inner-box1 .logo img {
  width: 6rem;
  float: right;
  margin-right: 3rem;
}
.box1 span {
  color: #791313;
}
.box1 h2 {
  color: #791313;
  font-size: 1.6rem;
}
.box1 h1 {
  font-size: 2.2rem;
  padding-bottom: 2px;
}
.box1 .inner-box1 .txt {
  padding-top: 1rem;
}
.box1 .inner-box1 .txt p {
  font-family: sans-serif;
  letter-spacing: 0.1rem;
}
.btn {
  float: right;
  padding-top: 25px;
}
.btn hr {
  width: 16rem;
  position: relative;
  right: 47px;
}
.btn button {
  background-color: #791313;
  color: #fff;
  padding: 6px 30px 6px 30px;
  border-style: hidden;
  background-image: url(./img/bullet_white.gif);
  background-repeat: no-repeat;
  background-position-x: 91%;
  background-position-y: center;
  font-size: 1rem;
  background-size: 10px;
  position: absolute;
  right: 71rem;
}

/*  box 2 styling  */

.inner-box2 {
  display: grid;
  align-items: stretch;
}
.inner-middle, .inner-middle2 {
  display: flex;
  padding: 20px 20px 50px 40px;
  border: 1px solid;
  border-top: hidden;
}
.inner-box2 .txt {
  width: 50%;
}
.inner-box2 .logo {
  width: 50%;
}
.inner-box2 .logo img {
  width: 12rem;
  margin-left: 15px;
}
.inner-box2 .inner-middle2 {
  border-bottom: hidden;
}
.box2 span {
  color: #791313;
}
.inner-box2 h1 {
  font-size: 2rem;
  padding-bottom: 2px;
}
.box2 .btn hr {
  width: 13rem;
  position: relative;
  left: -5px;
}
.box2 .btn button {
  background-color: #791313;
  color: #fff;
  padding: 6px 30px 6px 30px;
  border-style: hidden;
  background-image: url(./img/bullet_white.gif);
  background-repeat: no-repeat;
  background-position-x: 91%;
  background-position-y: center;
  font-size: 1rem;
  background-size: 10px;
  position: absolute;
  right: 50rem;
}
.box2 .inner-box2 .txt p {
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  padding-top: 5px;
}

/*  box 3 styling  */
.box3 {
  padding: 20px 20px 20px 40px;
}
.box3 .inner-box3 {
  display: grid;
}
.box3 .inner1 {
  display: flex;
}
.inner1 .logo {
  width: 50%;
}
.inner1 .logo img {
  width: 9rem;
}
#resize {
  width: 11.6rem;
}
.inner1 h1 {
  font-size: 2rem;
  padding: 10px 0px 10px 0px;
}

.box3 .inner1 p {
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  padding-top: 5px;
}
.box3 .inner3 p {
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  padding-top: 5px;
}
.box3 .btn hr {
  width: 13rem;
  position: relative;
  left: -50px;
}
.box3 .btn button {
  background-color: #791313;
  color: #fff;
  padding: 6px 30px 6px 30px;
  border-style: hidden;
  background-image: url(./img/bullet_white.gif);
  background-repeat: no-repeat;
  background-position-x: 91%;
  background-position-y: center;
  font-size: 1rem;
  background-size: 10px;
  position: absolute;
  right: 9rem;
}
.shadow-hr {
  text-align: center;
}

/* last section styling */

.last-sec {
  display: flex;
  width: 100%;
}

.last-sec .col1 h1 {
  padding-bottom: 20px;
}
.last-sec .bottom-left {
  padding-top: 4rem;
  font-size: 1.2rem;
}
.col1,
.col3 {
  width: 25%;
  padding: 2rem;
}
/* styling for 1st column/box of last section section */
.col1 .col-item h1,
button {
  color: white;
}
.col1 .col-item h1 {
  padding-bottom: 2px;
}

.col1 .bottom-left-last {
  opacity: 60%;
  color: grey;
  text-align: center;
  text-transform: uppercase;
  padding-top: 3rem;
  font-size: 1.5rem;
}
/* styling for middle column/box of last section section */

.col2 {
  width: 50%;
  padding: 2rem;
  font-family: sans-serif;
  font-size: larger;
}
.col2 p {
  padding-top: 2rem;
  line-height: 1.5rem;
}
.col1 .col-item {
  padding: 10px;
  background-color: grey;
  border-left: 1rem solid #791313;
  margin-bottom: 10px;
  height: 4.5rem;
}

.col1 button {
  float: right;
  border-style: none;
  background-color: transparent;
  padding-top: 8px;
  background-image: url(./img/bullet_red.gif);
  background-repeat: no-repeat;
  background-position-y: 88%;
  background-position-x: right;
  padding-right: 12px;
}

/* styling for last right column/box of last section section */

.col3 {
  margin-right: 20px;
}
.col3 .col-item h1 {
  font-size: xx-large;
  letter-spacing: 2px;
}
.col3 .col-item span {
  color: #791313;
}
.col3 .col-item h4 {
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 10px 10px 10px 0px;
}
.col3 .btn {
  padding-top: 0%;
}
.col3 .btn hr {
  width: 17rem;
  position: relative;
  right: 43px;
}
.col3 .btn button {
  background-color: #791313;
  color: #fff;
  padding: 6px 30px 6px 30px;
  border-style: hidden;
  background-image: url(./img/bullet_white.gif);
  background-repeat: no-repeat;
  background-position-x: 91%;
  background-position-y: center;
  font-size: 1rem;
  background-size: 10px;
  position: absolute;
  right: 10rem;
}
/* styling for bottom of last section section */

.bottom-logo {
  display: grid;
  justify-content: center;
  padding: 15px;
}
.bottom-logo img {
  width: 10rem;
}
.bottom-sec {
  text-align: center;
}
#bottom-hr {
  width: 14rem;
  height: 1.5rem;
}
.bottom-sec .icons img {
  padding-left: 5px;
}
